body,
html {
  height: 100%;
  margin: 0;
}

.bg {
  background-image: url(/assets/bg.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
}

img {
  width: 15%;
  margin-left: 10%;
  margin-top: 3%;
}

.container {
  display: block;
  width: 60%;
  text-align: center;
  margin: 5% auto;
  color: rgb(232, 228, 233);
}

.questions {
  font-weight: 400;
  font-family: Outfit;
  text-align: center;
  padding-top: 1%;
}

.answer {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
}

#question {
  font-family: Outfit;
}

.answers {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  padding-left: 10%;
}

.choice-container {
  justify-content: center;
  width: 20rem;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  font-family: Inter;
  font-size: 16px;
  color: aliceblue;
  padding-bottom: 10px;
  margin-bottom: 15px;

  box-shadow: -1px -1px 2px 1px rgba(255, 255, 255, 0.7);
}

.choice-container:hover {
  background-image: linear-gradient(#d20094, #900080);
  border-radius: 50px;
  text-align: center;
  font-family: Inter;
  color: aliceblue;
  padding-top: 0;
  cursor: pointer;
}

.timer {
  display: flex;
  width: 90px;
  height: 90px;
  justify-content: center;
  line-height: 85px;
  color: rgb(232, 228, 233);
  background-color: transparent;
  border-radius: 50%;
  border: 10px solid rgba(246, 246, 246, 0.3);
  position: absolute;
  font-family: Outfit;
  margin-top: 2%;
  margin-left: 80%;
}

.questionnum {
  position: relative;
  width: 120px;
  height: 20px;
  justify-content: center;
  color: rgb(232, 228, 233);
  background-color: transparent;
  font-family: Outfit;
  margin-top: 4%;
  margin-left: 5%;
}

.timercontainer {
  margin-left: 80%;
  height: 15vh;
  aspect-ratio: 1/1;
  background-color: #f4e5ef;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 6px #231c3d99;
  display: grid;
  place-items: center;
}
.circular-progress {
  position: relative;
  height: 15vh;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.circular-progress:before {
  content: "";
  position: absolute;
  height: 80%;
  width: 80%;
  /* background-color: linear-gradient(to bottom right, #d20094, #900080); */
  background-color: #642568;
  border-radius: 50%;
  box-shadow: inset 0px 0px 15px 1px #231c3d;
}
.value-container {
  position: relative;
  font-family: "Outfit", sans-serif;
  font-size: 30px;
  color: #ffffff;
}

#nextbtn {
  position: absolute;
  width: 110px;
  height: 30px;
  justify-content: center;
  text-align: center;
  background-color: #3ee0e0;
  color: rgb(16, 60, 122);
  font-family: Outfit;
  font-size: 16px;
  margin-top: 2%;
  padding-top: 10px;
  transition: 0.5s;
  margin-left: 52%;
}

#nextbtn:hover {
  background-color: #00ffff;
  cursor: pointer;
}
