@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");
body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#container {
  background-image: url("./assets/bg.jpg");
  color: #e7e7eb;
  height: 100vh;
  background-size: cover;
}

.item {
  height: 15vh;
}

#epicode_logo {
  width: 15%;
  margin-left: 10%;
  margin-top: 1%;
  user-select: none;
}

#main {
  height: 70vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}

.h1 {
  width: 100%;
  height: 20vh;
  margin-bottom: 0;
  font-family: Outfit;
  font-weight: bold;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  display: block;
}

p {
  font-family: Outfit;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0;
}

.star-widget {
  display: flex;
  align-items: center;
  justify-content: center;
  /* filter: brightness(0%); */
}

#SVG {
  display: none;
}

svg {
  padding: 0.5vw;
  user-select: none;
  max-width: 100px;
  cursor: pointer;
}

.icon-test {
  max-width: 53px;
  /* padding: 0.2vw; */
  filter: url(#test);
  transition: padding 0.5s ease;
}

.hover {
  padding: 0.5vw;
  cursor: pointer;
  filter: url(#id-of-your-filter);
}

.disabled {
  pointer-events: none;
}

.comment-area {
  width: 50vw;
  user-select: none;
}

#input-field {
  width: 100%;
  background-color: unset;
  border: none;
  color: #e7e7eb;
  margin-bottom: 8px;
  padding-left: 8.5%;
}

#input-field:focus {
  color: #e7e7eb;
  background-color: unset;
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#break-line {
  background-color: #d20094;
  height: 1px;
  width: 100%;
}

#bottom-area {
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#action-button {
  font-weight: bold;
  border: none;
  width: 200px;
  height: 60px;
  background: #1daabb;
  color: #143e61;
  text-align: center;
  font-size: 22px;
  font-family: Outfit;
  transition: box-shadow 0.2s ease;
  user-select: none;
}

.enabled {
  transition: box-shadow 0.5s ease;
}

.enabled:hover {
  box-shadow: 0 0 25px #01ffff;
  cursor: pointer;
  user-select: none;
}
