@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Outfit:wght@300;400;500;700&display=swap");

body {
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: "outfit", sans-serif;
}

.logo img {
  width: 15%;
  margin-left: 10%;
  margin-top: 1%;
  user-select: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1440px;
  height: 100vh;
}

.main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 70vh;
}

.item {
  margin-left: 10%;
  padding: 0;
}

h1 {
  display: block;
  color: #e7e7eb;
  font-size: 5.2em;
  font-weight: lighter;
  margin-top: 43 px;
  margin-bottom: 0;
  padding-bottom: 0;
}

h2 {
  display: block;
  color: #e7e7eb;
  line-height: 0px;
  margin-top: 0;
  padding-top: 10px;
  font-size: 5.3em;
  font-weight: bolder;
}

.instruct h3 {
  color: #c2138c;
  margin-top: 35px;
  font-size: 2.1em;
  font-weight: bolder;
  line-height: 0.7em;
}

.instruct p {
  color: #b8bbc7;
  font-size: 17px;
  font-family: "Inter", sans-serif;
}

.instruct ul {
  color: #b8bbc7;
  font-weight: 300;
  /* margin-top: 50px;
  margin-bottom: 70px; */
  line-height: 1em;
  font-size: 17px;
  font-family: "Inter", sans-serif;
}

.item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 15vh;
}

label {
  color: #ffffff;
  font-size: 14px;
  padding-left: 15px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

.check-box {
  color: #eee;
  width: 21px;
  height: 20px;
  padding: 0;
  margin: 0;
  /* appearance: none; */
  border: 2px solid #ddd;
  vertical-align: bottom;
  cursor: pointer;
}

.check-box input:checked {
  color: #01ffff;
}

#cbox {
  width: 400px;
  height: 60px;
  margin-left: 10%;
  display: flex;
  align-items: center;
}

#action-button {
  margin-right: 10%;
}

#inactivebtn {
  font-weight: bold;
  border: none;
  width: 200px;
  height: 60px;
  background: #1daabb;
  color: #143e61;
  text-align: center;
  font-size: 22px;
  font-family: Outfit;
  transition: box-shadow 0.2s ease;
  user-select: none;
}

.disabled {
  pointer-events: none;
}

.enabledbtn {
  transition: box-shadow 0.2s ease;
}

.enabledbtn:hover {
  box-shadow: 0 0 40px #01ffff;
  cursor: pointer;
}

/*
.button{
  background-color: #01ffff;
  box-shadow: 0 0 40px #01ffff;
}
*/
