@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");

body {
  margin: 0;
}

#container {
  background-image: url("/assets/bg.jpg");
  height: 100vh;
  background-size: cover;
  color: white;
}

#epicode_logo {
  width: 15%;
  margin-top: 1%;
  margin-left: 10%;
}

#heading-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: Outfit;
  font-size: 60px;
  font-weight: 900;
  margin-top: 1%;
  margin-bottom: 1%;
}

#heading-area p {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
}

#main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.circle {
  width: 300px;
  height: 300px;
  position: relative;
  /* background-color: aqua; */
}

.outer {
  background-color: #d20094;
  width: 300px;
  height: 300px;
  /* background-color: white; */
  border-radius: 50%;
  box-shadow: 0 0 30px rgb(15, 11, 31);
  position: relative;
}

.inner {
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  width: 221px;
  height: 221px;
  border-radius: 50%;
  box-shadow: inset 0 0 30px rgb(15, 11, 31);
  position: absolute;
  top: 40px;
  left: 40px;
}
#inner-text-passed {
  height: 300px;
  position: absolute;
  left: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#inner-text-failed {
  height: 300px;
  position: absolute;
  left: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none !important;
}

.inner-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.final-greeting {
  font-family: Outfit;
  font-weight: bold;
}

.final-result {
  font-family: Outfit;
  font-weight: bold;
  color: aqua;
  padding-bottom: 20px;
}

.final-message {
  font-family: Inter;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.644);
}

#wrong {
  color: rgba(255, 255, 255, 0.792);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

#wrong p {
  margin: 0;
  font-family: Outfit;
  font-size: 50px;
}

#wrong-percentage {
  font-family: Outfit;
  font-weight: bold;
  font-size: 50px;
}

#correct {
  height: 300px;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

#correct p {
  margin: 0;
  font-family: Outfit;
  font-size: 50px;
}

#correct-percentage {
  font-family: Outfit;
  font-weight: bold;
  font-size: 50px;
}

.questions {
  color: rgba(255, 255, 255, 0.644);
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
}

circle {
  width: 300px;
  height: 300px;
  fill: none;
  stroke: aqua;
  stroke-linecap: butt;
  stroke-width: 27px;
  stroke-dasharray: 562;
  stroke-dashoffset: 562;
  animation: anim 2s linear forwards;
}

@keyframes anim {
  100% {
    stroke-dashoffset: 200;
  }
}

#bottom-area {
  margin-top: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#rateUs {
  width: 200px;
  height: 60px;
  font-family: Outfit;
  font-weight: bold;
  font-size: 16px;
  background-color: unset;
  border: 2px solid white;
  color: white;
  transition: box-shadow 0.5s ease;
  user-select: none;
}

#rateUs:hover {
  box-shadow: 0 0 20px white;
  cursor: pointer;
}

.container {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  box-shadow: 0 0 30px rgb(15, 11, 31);
  display: grid;
  place-items: center;
}
.circular-progress {
  position: relative;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.circular-progress:before {
  content: "";
  position: absolute;
  height: 70%;
  width: 70%;
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  border-radius: 50%;
  box-shadow: inset 0 0 30px rgb(15, 11, 31);
}
.value-container {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  color: #231c3d;
}
