@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Outfit:wght@300;400;500;700&display=swap");

html,
body {
  height: 100vh;
  margin: 0;
}

body {
  width: 100%;
  object-fit: cover;
  font-family: "outfit", sans-serif;
  background-image: url("./assets/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 700px;
  padding: 0;
}

.logo img {
  display: flex;
  margin-top: 20%;
  width: 10%;
  height: 35px;
  margin-top: 50px;
  margin-left: 20%;
}

.header h1 {
  color: #e7e7eb;
  margin-bottom: 50%;
  margin-left: 70%;
  font-size: 3.5em;
  font-weight: lighter;
}

.heading2 h2 {
  color: #e7e7eb;
  margin-left: 8%;
  font-weight: bold;
  font-size: 3.5em;
}

.instruct h3 {
  color: #c2138c;
  margin-left: 20%;
  font-size: 1.8em;
  padding-bottom: 30px;
  font-weight: bolder;
}

.instruct p {
  color: #b8bbc7;
  margin-left: 20%;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

.instruct ul {
  color: #b8bbc7;
  margin-left: 20%;
  font-weight: lighter;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

.checkbox label {
  color: #b8bbc7;
  margin-left: 20%;
  font-size: 16px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}

input.check-box {
  color: #e7e7eb;
  float: left;
  height: 19px;
  bottom: 27.5%;
  margin-left: 20%;
  border: 2.5px solid #ddd;
  appearance: none;
  cursor: pointer;
}

.proceedbtn {
  font-weight: bold;
  background-color: #01ffff;
  text-align: center;
  width: 200px;
  height: 60px;
  font-size: 16px;
  padding: 2px 4px;
  right: 22%;
  color: #143e61;
  background: #01ffff;
  box-shadow: 0 0 20px #01ffff;
  border-color: #01ffff;
  cursor: pointer;
  font-family: "outfit", sans-serif;
}
