@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Outfit:wght@300;400;500;700&display=swap");

body {
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: "outfit", sans-serif;
}

.logo img {
  margin-top: 48px;
  width: 13%;
  height: 35px;
  margin-top: 50px;
  margin-left: 9.1%;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.item {
  margin-left: 9%;
  margin-bottom: 0;
  padding: 0;
}

h1 {
  display: block;
  color: #e7e7eb;
  font-size: 5.6em;
  font-weight: lighter;
  margin-top: 65px;
  margin-bottom: 0;
  padding-bottom: 0;
}

h2 {
  display: block;
  color: #e7e7eb;
  line-height: 0px;
  margin-top: 0;
  padding-top: 10px;
  font-size: 5.3em;
  font-weight: bolder;
}

.instruct h3 {
  color: #c2138c;
  margin-top: 35px;
  font-size: 2.1em;
  font-weight: bolder;
  line-height: 0.2em;
}

.instruct p {
  color: #b8bbc7;
  font-size: 18.1px;
  font-family: "Inter", sans-serif;
}

.instruct ul {
  color: #b8bbc7;
  font-weight: 300;
  margin-top: 50px;
  line-height: 1em;
  font-size: 18px;
  font-family: "Inter", sans-serif;
}

#cbox {
  margin-left: 10.6%;
  margin-top: 5.4%;
}

label {
  color: #b8bbc7;
  font-size: 16.5px;
  padding-left: 15px;
  font-family: "Inter", sans-serif;
  font-weight: bolder;
}

.check-box {
  color: #0b113b;
  width: 21px;
  height: 20px;
  padding: 0;
  margin: 0;
  appearance: none;
  border: 2px solid #ddd;
  vertical-align: bottom;
  cursor: pointer;
}

.btn {
  display: inline-block;
  margin-left: 73%;
}

.button {
  position: absolute;
  top: 82.5%;
  font-weight: bold;
  border: none;
  width: 240px;
  height: 61px;
  background-color: #01ffff;
  text-align: center;
  font-size: 25px;
  color: #143e61;
  background: #01ffff;
  box-shadow: 0 0 40px #01ffff;
  border-color: #01ffff;
  cursor: pointer;
  font-family: "outfit", sans-serif;
}
